*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: #efefef;
}

#logoChief{
  width: auto;
  height: 90px;
  margin: 10px;
  padding: 10px;
}

#lupa{
  width: 25px;
}
#userIcon, #alcool, #cutlery {
  width: 30px;
}

.lupa{
  border: none;
  background-color: transparent;
}

.Header, .footer{
  background: linear-gradient(to right,  #fc6076, #f9b086);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer{
  position: fixed;
}

.footer{
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.iconesHeader{
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 10px;
  gap:12px;
}

.logoContainerHeader{
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#burrito{
  width: 50px;
}

.idCategorys{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.categorys {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.buttons {
  text-align: center;
  margin: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 50px;
}

.btn-hover {
  width: auto;
  height: auto;
  margin: 3px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 2px 10px 0 rgba(252, 104, 110, 0.75);
}

.containerCategorys{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.cardCategorys{
  height: 230px;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardImage{
  width: 160px;
  height: auto;
  border-radius: 7%;
  box-shadow: 1px 1px 10px rgba(103, 31, 0, 0.3);
}

.containerh2 {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
}

.cardText{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e75516;
  text-transform: uppercase;
  width: 100%;
  max-width: 150px;
  text-align: center;
  max-height: 3.6em; /* Duas linhas a 1.8em por linha (ajuste conforme necessário) */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de linhas visíveis */
  -webkit-box-orient: vertical;

}

.cardText:hover{
  color: #b94513;
}

.page-title{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-top: 5px;
  color: #fc6076;
}

input:focus {
  outline: none;
}

.searchCss{
  background-color: #fc6076;
  width: 380px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.searchContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.inputSearch{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 5px;
}

input[type='radio'] {
  display: none;
}

.radioContainer{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
}

.radioContainer label {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  width: 95px;
}

.custom-radio {
  border: 1px solid #fff;
  width: 18px;
  height: 18px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.radio2{
  width: 85px;
  margin-left: 10px;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9.5px;
  font-weight: 560;
}

.custom-radio span {
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

input[type='radio']:checked + .custom-radio {
  border-color: rgb(217, 47, 76);
}

input[type='radio']:checked + .custom-radio span {
  background: linear-gradient(125deg, rgb(217, 47, 76), rgb(217, 47, 76));

}
