.DoneRecipes, .favoriteBody{
  padding-bottom: 70px;
}

#profile{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e75516;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.containerProfileBtn,
.containerEmail{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerEmail{
  height: 30px;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e75516;
  font-weight: 600;
}

.profileEmail{
  color: #161e27;
  font-size: 12px;
  text-transform: lowercase;
}

.prof{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 50px;
}

.containerDone{
  margin-top: 20px;
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.pDetails2{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #161e27;
  position: absolute;
}

.containerFinal{
  width: 100%;
  height: 25px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.containerFinal2{
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 50px;
}

.searchBtn{
  background-color: #e04f5f;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#done{
  font-size: 11px;
  font-weight: 900;
  color: #e75516;
}

#loading{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  font-size: 15px;
  font-weight: 900;
  color: #e75516;
}

.agrupadorIcons{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agrupadorIcons2{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.containerButtonCategorys{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: -50px;
}

.divisoria{
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
}

.containerCopy{
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agrupamentoFinal{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.agrupamentoFinal2{
  height: 100px;
}

.gridTester {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2px;
}

.containerConteudo{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.doneOn{
  height: 15px;
  width: 150px;
}

.btnFin{
  width: 70%;
  margin: 0;
}

.containerProfileBtn{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.btnProfile{
  margin: 0;
}

.barrinhaInferior{
}
